/* Common styles for all screen sizes */
body {
  background-color: #121212;
  font-family: 'Roboto', sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card-container {
  background-color: #2c364c;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo-img {
  width: 150px;
  height: auto;
}

.from-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

label {
  color: #ffffff;
  font-weight: bold;
}

.username-ip {
  padding: 10px;
  border: 1px solid #475569;
  border-radius: 4px;
  background-color: #272727;
  color: #ffffff;
}

.username-ip::placeholder {
  color: #7e858e;
}

.login-btn {
  padding: 12px;
  background-color: #6366f1;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

.login-btn:hover {
  background-color: #4f46e5;
}
.error-msg {
  color: #ff0b37;
  font-family: 'Roboto';
  font-size: 15px;
}

/* Extra Small ( < 576px) */
@media (max-width: 575px) {
  .card-container {
    width: 90%;
  }

  .login-btn {
    font-size: 14px;
    padding: 10px;
  }

  .username-ip {
    font-size: 14px;
    padding: 8px;
  }
}

/* Small ( >= 576px) */
@media (min-width: 576px) and (max-width: 767px) {
  .card-container {
    width: 80%;
  }
}

/* Medium ( >= 768px) */
@media (min-width: 768px) and (max-width: 991px) {
  .card-container {
    width: 60%;
  }

  .login-btn {
    padding: 14px;
    font-size: 16px;
  }

  .username-ip {
    font-size: 16px;
    padding: 12px;
  }
}

/* Large ( >= 992px) */
@media (min-width: 992px) and (max-width: 1199px) {
  .card-container {
    width: 60%;
  }

  .login-btn {
    padding: 16px;
    font-size: 18px;
  }

  .username-ip {
    font-size: 18px;
    padding: 14px;
  }
}

/* Extra Large ( >= 1200px) */
@media (min-width: 1200px) {
  .card-container {
    width: 30%;
  }

  .login-btn {
    padding: 18px;
    font-size: 20px;
  }

  .username-ip {
    font-size: 20px;
    padding: 16px;
  }
}
.demo-btn {
  background-color: transparent;
  color: #999;
  border: none;
  font-size: 12px; /* Default for smaller screens */
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-decoration: underline;
  opacity: 0.6;
}

/* Hover effect for better visibility */
.demo-btn:hover {
  opacity: 1;
}

/* Responsive font sizes */
@media (min-width: 576px) {
  .demo-btn {
    font-size: 18px; /* For small devices like phones in landscape mode */
  }
}

@media (min-width: 768px) {
  .demo-btn {
    font-size: 20px; /* For tablets and small laptops */
  }
}

@media (min-width: 992px) {
  .demo-btn {
    font-size: 24px; /* For larger laptops and desktops */
  }
}

@media (min-width: 1200px) {
  .demo-btn {
    font-size: 28px; /* For larger screens */
  }
}
